@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.flashcard-container {
    background: white;
    margin-inline: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
}

.level-selector {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#level-select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    background: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 40px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

#message {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.controls {
    margin-bottom: 10px;
}

button {
    background: #FF69B4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background: #FF1493;
}

#answer-input {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.stats {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.correct {
    color: #1fb2a7;
}

.incorrect {
    color: #FF6347;
}
